@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

.noselect, br, img, button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-moz-selection {
    color: #000000;
    background: rgba(0,0,0,.3);
}

::selection {
    color: #000000;
    background: rgba(0,0,0,.3);
}

button {
    background: #7051ff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    padding: 10px 20px;
    border: 0;
    color: white;
    fill: white;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    transform: scale(1.02);
}

button > svg {
    height: 12px;
    margin-right: 5px;
}

.header {
    font-size: 20px;
    width: 100%;
    padding: 20px 24px;
    border-bottom: 1px solid rgba(0,0,0,.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    color: #7051ff;
    font-weight: 700;
    font-size: 24px;
}

.header-left > a {
    color: #7051ff;
    text-decoration: none;
}

.header-right {
    float: right;
}

.content {
    position: relative;
    width: 100%;
    height: calc(100vh - 86px);
    background: rgba(0,0,0,.05);
}

.canvas-zoom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: white url("../assets/bg-tile.png") repeat;
    overflow: hidden;
}

.canvas {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    position: absolute;
    background: white;
    border: 1px solid rgba(0,0,0,.3);
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    transition: .2s;
}

.block {
    position: absolute;
    float: left;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    border: 2px solid rgba(0,0,0,.2);
}

.selected {
    outline: 2px solid rgba(0,0,0,.5);
}

.dragger {
    width: 100%;
    padding: 14px;
    background: rgba(0,0,0,.07);
    cursor: move;
}

.textarea {
    min-width: 200px;
    min-height: 120px;
    max-width: 1000px;
    max-height: 1000px;
    position: relative;
    top: 7px;
    outline: none;
    border: none;
    padding: 3px 10px 10px 10px;
    font-size: 18px;
    background: transparent;
    overflow: hidden;
}

.textarea::before {
    position: absolute;
    top: -200px;
    content: 'where';
    background: #7051ff;
}

::placeholder {
    color: rgba(0,0,0,.4);
}

.button-menu {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.button-menu-second {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.button {
    position: relative;
    float: right;
    width: 60px;
    height: 60px;
    margin: 10px;
    padding: 16px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,.3);
    cursor: pointer;
    transition: .2s;
}

.button:hover {
    transform: scale(1.05);
}

.button:active {
    padding: 14px;
}

#infoBox {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100vh;
}

.info-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid rgba(0,0,0,.2);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,.3);
    position: absolute;
}

.info-box > div > h2 {
    margin: 0;
}

.info-box > div > textarea {
    width: 400px;
    height: 20vh;
    resize: none;
    padding: 10px;
    margin: 10px 0;
    font-size: 14px;
}

.changeBgs {
    display: flex;
    flex-wrap: wrap;
}

.changeBg {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,.6);
    transition: .2s;
}

.changeBg:hover {
    transform: scale(1.05);
}

#textExport {
    user-select: all;
}

.newCanvasInput {
    margin: 5px 0 10px 0;
    width: 100px;
}

#newfile {
    width: 400px;
}

.move-svg {
    position: relative;
    top: -2px;
    left: 5px;
    width: 16px;
}

.move-svg-2 {
    position: relative;
    top: -4px;
}

#popup {
    pointer-events: none;
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background: white;
    padding: 10px 16px;
    font-weight: 800;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 0 30px rgba(0,0,0,.4);
    transition: .5s;
    opacity: 0;
}

#loader {
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(255,255,255,1);
    width: 100vw;
    height: 100vh;
    transition: .5s;
}

#loader > div > h1 {
    color: #7051ff;
}

.loader {
    width: 400px;
    height: 10px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 20px;
    background: url("../assets/bg-loader.png") repeat;
    animation: loaderSpin infinite .4s linear;
}

#contextmenu {
    width: 240px;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    display: none;
    padding: 8px 14px;
    font-size: 16px;
    background: white;
    border-radius: 6px;
    box-shadow: 0 0 30px rgba(0,0,0,.3);
}

.contextbutton {
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
}

.contextbutton > svg {
    height: 12px;
}

.contextbutton:hover {
    margin-left: 5px;
}

.contextline {
    width: 100%;
    height: 2px;
    background: rgba(0,0,0,.2);
    margin: 2px 0;
    border-radius: 10px;
}

.break {
    margin-bottom: 6px;
}

@keyframes loaderSpin {
    from {
        background-position-x: 40px;
    }
    to {
        background-position-x: 0;
    }
}

.center-element {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {

    .info-box > div > textarea, #newfile {
        width: 70vw;
    }

    button > span {
        display: none;
    }

    button {
        font-size: 12px;
    }

    button > svg {
        margin-right: 0;
    }

    .changeBgs {
        width: 70vw;
    }

    .loader {
        width: 50vw;
    }

    .button-menu, .button-menu-second {
        transform: scale(.8);
        margin: 0;
    }
}
